@import 'tailwindcss';

:root {
	--lightgrey: #fafafa;
	--lightpurple: #a88bfa;
	--midpurple: #5b21b6;
	--darkpurple: #23234a;
	--lightgreen: #95c154;
	--darkgreen: #004b1e;
	--yellow: #ffd948;
	--orange: #ff9c00;
	--lightbrown: #ffe3c9;
	--darkbrown: #502b1a;
	--darkink: #2f2f2f;
}

@theme inline {
	--color-lightgrey: var(--lightgrey);
	--color-lightpurple: var(--lightpurple);
	--color-midpurple: var(--midpurple);
	--color-darkpurple: var(--darkpurple);
	--color-lightgreen: var(--lightgreen);
	--color-darkgreen: var(--darkgreen);
	--color-yellow: var(--yellow);
	--color-orange: var(--orange);
	--color-lightbrown: var(--lightbrown);
	--color-darkbrown: var(--darkbrown);
	--color-darkink: var(--darkink);

	--z-index-modal-overlay: 100;
	--z-index-modal: 200;
	--z-index-modal-content: 300;
	--z-index-loading: 3000;
}

@keyframes blink {
	0% {
		transform: scaleY(1);
	}
	40% {
		transform: scaleY(0.08);
	}
	60% {
		transform: scaleY(0.08);
	}
	100% {
		transform: scaleY(1);
	}
}

.eye-blink {
	animation: blink 0.28s ease-in-out;
}
